.wd-course {
  margin-top: 15px;
  text-align: left;
}
.wd-course-grade-nav {
  padding: 15px;
  background-color: #d9d9d9;
  border-radius: 10px;
}
.courses-right-userCourse {
  padding: 20px 15px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: #f7f7f8;
}

.courses-right-userCourse-title {
  line-height: 30px;
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.courses-right-userCourse:hover {
  cursor: pointer;
}

.wd-course-courseLists-item {
  padding: 15px;
  background-color: #fff;
  transition: all ease 0.2s;
}
.wd-course-courseLists-item-titleName {
  padding: 10px 0;
  font-size: 16px;
}
.wd-course-courseLists-item-level {
  font-size: 14px;
}
.wd-course-courseLists-item-tips {
  margin-top: 15px;
}
