.App {
  text-align: center;
  min-height: 100%;
  background-color: #f7f8fa;
}
.wd-header {
  padding: 5px 15px;
  background-color: #fff;
  text-align: left;
}

.wd-routes {
  /* position: relative; */
  max-width: 1250px;
  min-height: var(--main-min-height);
  margin: auto;
  padding: 15px 15px;
}

.w-echart {
  width: 100%;
}

.w-border {
  border-radius: 10px !important;
  box-shadow: rgb(0 0 0 / 4%) 0px 1px 3px, rgb(0 0 0 / 12%) 0px 6px 16px !important;
}

.w-marginBottom {
  margin-bottom: 15px !important;
}

.w-marginTop {
  margin-top: 15px !important;
}

.w-padding {
  padding: 15px 25px;
}

.w-button {
  font-size: 14px;
  padding: 8px 16px;
  border: 1px solid #eaf0ea;
  border-radius: 3px;
  background-color: #fff;
}

.w-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}

@media screen and (max-width: 768px) {
  .w-echart {
    aspect-ratio: 16 / 9;
  }
}
@media screen and (min-width: 768px) {
  .w-echart {
    aspect-ratio: 1;
  }
}

@media (any-hover: hover) {
  .box-shadow-hover:hover {
    border-color: transparent;
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%),
      0 5px 12px 4px rgb(0 0 0 / 9%);
    cursor: pointer;
  }
  .scale-hover:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  .button-hover:hover {
    cursor: pointer;
    background-color: #f7f7f7;
  }
}

/* 媒体查询移动端与pc端显示不同组件 */
@media screen and (max-width: 576px) {
  .mobile {
    display: block;
  }
  .pc {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  .mobile {
    display: none;
  }
  .pc {
    display: block;
  }
}
