@media screen and (max-width: 600px) {
  .loginModal .loginModal-body {
    width: 80%;
  }
}
@media screen and (min-width: 600px) {
  .loginModal .loginModal-body {
    width: 420px;
  }
}

.loginModal {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.loginModal .loginModal-body {
  padding: 15px 18px;
  background-color: #fff;
  border-radius: 21px;
}

.loginModal .loginModal-body .loginModal-body-title {
  position: relative;
  margin-bottom: 20px;
}
.loginModal
  .loginModal-body
  .loginModal-body-title
  .loginModal-body-title-logo {
  width: 60%;
}

.loginModal-body-title-close {
  position: absolute;
  top: -15px;
  right: -50px;
  font-size: 24px;
}
.loginModal-body-title-close:hover {
  cursor: pointer;
}
